# Chicken compiler artifacts
srfi.160.base.import.scm
srfi.160.s16.import.scm

# Symlinks for (r6rs bytevectors) and (srfi 4)
r6rs
srfi/4
srfi/4.sld

#Emacs backup files
*~
\#*#

#Others
*.import.scm
*.link
*.log
*.o
*.sh
*.so
*.swp
*.types